@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* font-family: "Open Sans", sans-serif; */

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    cursor: pointer;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}


/* header */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-left: 23px;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.sub-title {
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}
nav ul {
    display: flex;
    align-items: center;
    
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 200px;
}
.banner-greeting {
    font-size: 40px;
    font-weight: 600;
    color: #474747;
}
.banner-title {
    font-size: 80px;
    font-weight: 700;
    margin-top: 20px;
}
.banner-description {
    font-size: 18px;
    color: #757575;
    margin-top: 20px;
}
.banner-profile-pic {
    width: 500px;
}
 /* about style */
 .about{
    padding: 130px 150px;
    text-align: center;
    margin-top: 90px;
    max-width: 1140px;
    margin-left: 230px;
    margin-right: 230px;
 }
 .item-title{
    font-size: 20px;
    color: #757575;
 }
 .item-description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
 }
 .about-items{
    display: flex;
    justify-content: space-around;
 }